<h1>Completa el perfil</h1>
<%= simple_form_for [@patient, @profile] do |f| %>
  <%= f.input :weight %>
  <%= f.input :height %>
  <%= f.input :goals %>
  <%= f.input :conditions %>
  <%= f.input :lifestyle %>
  <%= f.input :diagnosis %>
  <%= f.submit %>
<% end %>
