<div class="d-flex">
  <div class="d-flex flex-column">
    <div class="d-flex flex-column">
      <%= link_to "Dashboard", "#" %>
      <%= link_to "Patientes", "#" %>
      <%= link_to "Planes nutricionales", "#" %>
      <%= link_to "Asistente IA", "#" %>
      <%= link_to "Configuraciones", "#" %>
    </div>
    <div>
      <%#= image_tag current_nutritionist.photo %>
      <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier",
                                class: "navbar-avatar me-2",
                                alt: "Default avatar" %>
    </div>
  </div>

  <div>
    <div class="d-flex">
      <h1>Bienvenido <%= current_nutritionist.first_name %> </h1>
      <%= link_to 'Add New Patient', new_patient_path %>
    </div>

    <div class="d-flex">
      <div>
        <h4>Pacientes activos</h4>
        <%= current_nutritionist.patients.count %>
      </div>
      <div>
        <h4>Promedio de cumplimiento</h4>
        <h1>82%</h1>
      </div>
      <div>
        <h4>Gráfico de cumplimiento</h4>
        <%= image_tag "grafico", size: "60X80" %>
      </div>

    </div>

    <!-- inicio de pacientes activos -->
    <table class="table">
      <%= render @patients %>
    </table>
    <!-- fin pacientes activos -->

    <div>
      <h4>Planes nutricionales</h4>
      <%= render @nutritions %>
    </div>
  </div>
</div>
