<%= simple_form_for [@meal, meal_log] do |f| %>
  <%= f.error_notification %>

  <div class="alert alert-info mb-3">
    <strong>Comida seleccionada:</strong> <%= @meal.meal_type.titleize %> - <%= @meal.plan.date.strftime('%d/%m/%Y') %>
  </div>

  <div class="form-inputs">
    <%= f.input :photo,
                as: :file,
                label: "Sube una foto de tu comida",
                hint: "La IA analizará tu foto para calcular calorías y macronutrientes",
                input_html: { accept: 'image/*' } %>
  </div>

  <div class="form-actions mt-3">
    <%= f.button :submit, "Registrar y Analizar", class: "btn btn-primary" %>
    <%= link_to "Cancelar", meal_path(@meal), class: "btn btn-secondary" %>
  </div>
<% end %>
