<%= turbo_frame_tag "new_patient" do %>
<div class="container w-50 border p-3 mt-3">
<%= simple_form_for @patient do |f| %>
  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.input :email %>
  <%= f.input :password %>
  <%= f.input :phone %>
  <%= f.submit class:"btn btn-primary" %>
<% end %>
</div>
<% end  %>
